// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";
$spotify_color: #1ED15F;

window.Bar {
    background: transparent;
    color: #{$theme_bg_color};
    font-weight: bold;

    >centerbox {
        background: #{$theme_bg_color};
        border-radius: 10px;
        margin: 8px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
    button.focused {
      color: blue;
    }

    label { color: white; }

    .Media {
      border-right: 1px solid #{$spotify_color};
    }
    .Media .Cover {
      min-height: 3em;
      min-width: 3em;
      background-position: center;
      background-size: contain;
    }

    .Media .ProgressBar {
      background: #{$theme_bg_color};
      min-height: 3em; // must be the same as Media.Cover
    }
    .Media .ProgressBar .Fill {
      background: linear-gradient(
        to right,
        darken($spotify_color, 20%),
        $spotify_color
      );
      /* transition: width 0.3s ease; */ // this isn't doing anything
      box-shadow: 0 0 5px lighten($spotify_color, 30%);
    }
}
