window.bar {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  /* background-color: transparent; */
  /* border: 1px solid @theme_bg_color */
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
}

button:active {
  background-color: @theme_selected_bg_color;
}

button:hover {
  border-bottom: 3px solid @theme_fg_color;
}

/* workspaces */
.workspaces button {
  margin: 2px;
  padding: 5px;
  border-radius: 15px;
  background: @theme_bg_color;
}

.workspaces button box {
  margin: 3px;
}

.workspaces button.active {
  background: @theme_selected_bg_color;
  font-weight: bold;
}

/*
theme_fg_color
theme_text_color
theme_bg_color
theme_base_color
theme_selected_bg_color
theme_selected_fg_color
insensitive_bg_color
insensitive_fg_color
insensitive_base_color
theme_unfocused_fg_color
theme_unfocused_text_color
theme_unfocused_bg_color
theme_unfocused_base_color
theme_unfocused_selected_bg_color
theme_unfocused_selected_fg_color
unfocused_insensitive_color
borders
unfocused_borders
warning_color
error_color
success_color
*/
