[Unit]
Description=SSH key agent

[Service]
Type=forking
ExecStart=/usr/bin/ssh-agent -D -a /run/user/%U/ssh-agent.socket
Environment=SSH_AUTH_SOCK=/run/user/%U/ssh-agent.socket

[Install]
WantedBy=default.target
