plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

on_force_close "detach" // "quit"
simplified_ui false
pane_frames false
auto_layout true
session_serialization true // for resurrection
serialize_pane_viewport false // does this mean that all panes will be auto_layout'd on resurrection?


// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
themes {
  dracula {
    fg 248 248 242
    bg 40 42 54
    red 255 85 85
    green 80 250 123
    yellow 241 250 140
    blue 98 114 164
    magenta 255 121 198
    orange 255 184 108
    cyan 139 233 253
    black 0 0 0
    white 255 255 255
  }
}

// Startup
theme "dracula"
default_layout "default"
default_mode "normal"
styled_underlines true // render styled and colored underlines
mouse_mode false // EWWW GET THAT OUTTA HERE

scroll_buffer_size 10000

// copy_command "xclip -selection clipboard" // x11
copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx


copy_on_select true

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
scrollback_editor "/usr/local/bin/nvim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

